*__pycache__*
*.swp
.vscode
.DS_Store
.coverage
coverage.xml
.pytest_cache
dist/
site/
*.ipynb
lightning_logs/
wandb/
abismal_torch/simple_matmul.py
tests/test_matmul.py
tmp_outdir/
tests/test_*.sh
local_debug.yaml
*profiling*
